*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.squares{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    border: 1px solid black;
    padding: 2rem;
}

.bgc-square{
    background-color: blueviolet;
}